<!-- Crimes over time -->
<section id="crimeTime" class="content-section text-center">
    <div class="crime-chart">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>Crime Reports Over Time</h2>
                <h3 class="pull-left">2012</h3>
                <h3 class="pull-right">2015</h3>
            </div>
        </div>
    </div>
    <div class="charts">
      <div class="pull-left">
        <div class="chart-2012"></div>
      </div>
      <div class="pull-right">
        <div class="chart-2015"></div>
      </div>
    </div>
    <div>
      <p>While the graph is having trouble showing it, the total number of reported crimes dropped significantly. It went from <b>821</b> in 2012 to only <b>178</b> in 2015. In addition, the maximum number of crimes reported per month in any given beat zone dropped from 12 to 8 from 2012 to 2015.</p>
    </div>
</section>
