<!-- Crimes over time -->
<section id="crimeTime" class="content-section text-center">
    <div class="crime-chart">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>Crime Reports Over Time</h2>
                <h3 class="pull-left">2012</h3>
                <h3 class="pull-right>">2015</h3>
            </div>
        </div>
    </div>
    <div class="charts">
      <div class="pull-left">
        <div class="chart-2012"></div>
      </div>
      <div class="pull-right>">
        <div class="chart-2015"></div>
      </div>
    </div>
</section>
