<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"><span></span></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-play-circle"></i>  <span class="light">Seattle</span> Crime Data
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#heatMap">Heatmap</a>
                </li>
                <li>
                    <a class="page-scroll" href="#crimeTime">Crime Over Time</a>
                </li>
                <li>
                    <a class="page-scroll" href="#info">Info</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Crime Data in Seattle</h1>
                    <p class="intro-text">This site takes crime data from the Seattle area in 2012 and 2015 and looks at it from a geographic perspective to gain insights about crime centers in the city. It will also show information comparing 2012 to 2015 in regards to crime month over month. This section is not quite done yet.</p>
                    <a href="#heatMap" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="heatMapContainer"></div>

<div id="crimeTimeContainer"></div>

<!-- Info Section -->
<section id="info" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Page info</h2>
            <p>All data provided <a href="https://data.seattle.gov/resource/3k2p-39jp">here</a></p>
            <p>Source code available on</p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://github.com/lolpack" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Seattle Crime Data - 2015</p>
        <p>Made with &#x2661 for <a href="https://socrata.com">Socrata</a></p>
    </div>
</footer>
